<div class="kt-login-v2__wrapper class2">
    <div class="kt-login-v2__container">
        <div class="kt-login-v2__title">
            <h3>Sign to Account</h3>
        </div>
		
		<!--begin::Form-->
        <form class="kt-login-v2__form kt-form" action="/login" autocomplete="off" id="kt_login_form" method="POST">
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" name="username" autocomplete="off">
            </div><br>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" name="password" autocomplete="off">
            </div><br>

            <!--begin::Action-->
            <div class="kt-login-v2__actions">
                <a href="#" class="kt-link kt-link--brand">
                    Forgot Password ?
                </a><br>
                <button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Sign In</button>
            </div>

            <!--end::Action-->
        </form>

        <!--end::Form-->
 <!--end::Form-->

        <!--begin::Separator-->
        <div class="kt-separator kt-separator--space-lg  kt-separator--border-solid"></div>

        <!--end::Separator-->

        <!--begin::Options-->

        

        <!--end::Options-->
    </div>
</div>	





        

        